# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Tests
*.test
*.out

# Python (in case)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
